.banner {
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__content {
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 20px;

    p {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@include media-breakpoint-up(lg) {
  .banner {
    &__content {
      padding-top: 80px;
      padding-bottom: 90px;
    }
  }
}
