body {
  background-color: #fff;
}
p{
  margin-left: 0;
}

body:not(.custom-background-image):before, body:not(.custom-background-image):after {
  display: none;
}
.landing-page {
  padding-top: 90px;
}


a{
  transition: all 0.4s ease-in-out;
}




@media (min-width: 1300px) {
  .container {
    max-width: 1240px;
  }
}
