.bg-text {
  background-color: $light;
  padding: 30px 0 50px 0;
  margin-bottom: 40px;
  text-align: center;

  &__images {

    img {
      width: 100%;
      padding: 0 15px;
      margin-bottom: 20px;
    }
  }
}

@include media-breakpoint-up(sm) {
  .bg-text {
    &__images {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: 0 -15px 25px -15px;

      img {
        flex: 0 0 50%;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .bg-text {
    padding: 50px 0 55px 0;
    margin-bottom: 70px;

    &__images {
      margin-bottom: 55px;

      img {

      }
    }

    p {
      font-size: 1.1rem;

      &:nth-child(2) {
        max-width: 520px;
        margin: 0 auto 40px auto;
      }

    }
  }
}
