.features-wrap {
  background-image: url("../images/BlackWave-BG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 3rem;
}

.features {
  color: #fff;
  padding: 3rem 0 2rem 0;

  &__copy{
    margin-bottom: 2rem;
  }

  &__item{
    display: flex;
    margin-bottom: 1.6rem;
  }

  &__icon{
    img{
      max-width: 50px;
      margin-right: 20px;
    }
  }

}

@include media-breakpoint-up(sm) {
  .features {
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
    }

    &__item {
      padding-left: 15px;
      padding-right: 15px;
      flex: 0 0 50%;
    }
  }
}

@include media-breakpoint-up(xl) {
  .features {
    &__list{
      justify-content: space-between;
    }
    &__item {
      flex: 0 0 30%;

      h3{
        font-size: 21px;
      }
      p{
        font-size: 16px;
      }
    }
  }
}
