.landing-page-footer {
  background-color: #202020;
  color: #fff;
  padding: 20px 0 40px 0;
  font-weight: 300;

  .widget {
    border: 0;
    margin: 0;

    h2.widgettitle {
      color: $secondary;
    }
  }

  .textwidget {
    a {
      box-shadow: none;
      color: #fff;

      &:hover, &:active, &:focus {
        color: $primary;
        text-decoration:none;
      }
    }
    a.email{
      text-decoration: underline;
    }
  }


  .row > div > .widget:last-child {
    margin-bottom: 20px;
  }
}

@include media-breakpoint-up(xl) {
  .landing-page-footer {
    .row {
      margin-left: -3rem;
      margin-right: -3rem;

      > div {
        padding-left: 3rem;
        padding-right: 3rem;

        &:nth-child(2) {
          padding-left: 8rem;
        }
      }
    }
  }
}
