.landing-page {
  .navbar.bg-light {
    background-color: #fff !important;
  }

  .navbar-nav {
    .nav-link {
      color: #000;

      &:hover {
        color: $primary;
      }
    }
  }
}

.navbar-light {
  .navbar-nav .nav-link.btn-primary {
    color: #fff;
    padding: 8px 26px;
    display: inline-block;
    margin: 10px 0 20px 0;
  }
}

@include media-breakpoint-up(lg) {

  .navbar-light {
    .navbar-nav .nav-link.btn-primary {
      margin: 0 0 0 20px;
    }
  }
}
