.img-text {
  margin-bottom: 2rem;

  ul {
    list-style: none;

    li {
      &:before {
        content: "\2022";
        color: $secondary;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        font-size: 1.4rem;
      }
    }
  }

  img {
    margin-bottom: 20px;
  }
}


@include media-breakpoint-up(sm) {
  .how-led-works {
    .img-text {
      .col-md-6 {
        order: 1;
      }

      .col-md-6:first-child {
        order: 12;
      }

    }

  }
}

@include media-breakpoint-up(lg) {
  .img-text {
    margin-bottom: 3rem;
  }
  .img-text__content {
    padding-left: 2rem;
  }
  .how-led-works {
    .img-text__content {
      padding-left: 0;
      padding-right: 2rem;
    }
  }
}
