.newsletter-form {
  background-image: url("../images/BlueWave-BG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3.8rem 0;

  &__inner {
    border-top: 5px solid $primary;
    max-width: 930px;
    margin: auto;
    background-color: #fff;
    padding: 2rem 1rem;

    form{
      max-width: 620px;
      margin: auto;

    }
    input[type="text"].form-control, input[type="email"].form-control, textarea.form-control{
      background-color: transparent ;
      font-size: 15px;
      border-radius: 0;
    }
  }
}
