.lg-carousel {
  background-color: $light;
  text-align: center;
  padding: 3.1rem 0 2rem 0;

  h2 {
    text-transform: uppercase;

    i {
      display: block;
      font-size: 1.3em;
      margin-top: 25px;
    }
  }

  .carousel-caption {
    position: static;
    color: #363636;
    max-width: 880px;
    margin: auto;

    h5 {
      font-style: italic;
      font-size: .8em;
      font-weight: 600;

      span {
        display: block;
      }
    }
  }

  .carousel-inner {
    padding-bottom: 3.1em;
  }

  .carousel-indicators {
    li {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid #000;
      background-color: transparent;
      opacity: 1;
    }

    .active {
      background-color: #000;
    }
  }
}
