body {
  background-color: #fff; }

body:not(.custom-background-image):before, body:not(.custom-background-image):after {
  display: none; }

.landing-page {
  padding-top: 90px; }

@media (min-width: 1300px) {
  .container {
    max-width: 1240px; } }
.btn-primary {
  background-color: #F37C28;
  color: #fff;
  border: 0;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  box-shadow: 0px 2px 3px #00000029;
  padding: 8px 26px; }

.landing-page .navbar.bg-light {
  background-color: #fff !important; }
.landing-page .navbar-nav .nav-link {
  color: #000; }
  .landing-page .navbar-nav .nav-link:hover {
    color: #0098DB; }

.navbar-light .navbar-nav .nav-link.btn-primary {
  color: #fff;
  padding: 8px 26px; }

.banner {
  color: #fff; }

/*# sourceMappingURL=main.css.map */
