body {
  background-color: #fff;
}

body:not(.custom-background-image):before, body:not(.custom-background-image):after {
  display: none;
}
.landing-page {
  padding-top: 90px;
}




@media (min-width: 1300px) {
  .container {
    max-width: 1240px;
  }
}
