.btn-primary {
  background-color: $secondary_color;
  color: #fff;
  border: 0;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  box-shadow: 0px 2px 3px #00000029;
  padding: 8px 26px;
}
