.landing-page{
  .navbar.bg-light{
    background-color: #fff !important;
  }
  .navbar-nav {
    .nav-link{
      color: #000;
      &:hover{
        color: $primary_color;
      }
    }
  }
}
.navbar-light {
  .navbar-nav .nav-link.btn-primary{
    color: #fff;
    padding: 8px 26px;

  }
}
