html {
	@include font-size($html-font-sizes);
}

h1,
.h1 {
	@include font-size($h1-font-sizes);
}

h2,
.h2 {
	@include font-size($h2-font-sizes);
}

h3,
.h3 {
	@include font-size($h3-font-sizes);
}

h4,
.h4 {
	@include font-size($h4-font-sizes);
}

h5,
.h5 {
	@include font-size($h5-font-sizes);
}

h6,
.h6 {
	@include font-size($h6-font-sizes);
}

$colors: ();
$colors: map-merge(
	(
		"blue": "#007bff",
		"indigo": "#6610f2",
		"purple": "#6f42c1",
		"pink": "#e83e8c",
		"red": "#dc3545",
		"orange": "#fd7e14",
		"yellow": "#ffc107",
		"green": "#28a745",
		"teal": "#20c997",
		"cyan": "#17a2b8",
		"white": "#fff",
		"gray": "#6c757d",
		"dark-gray": "#343a40",
		"black": "#000"
	),
	$colors
);
