$primary: #F37C28;
$secondary: #0098DB;
$light: #E3F6FF;

$spacer: 1rem;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`

/* ----------------------------------------------------------- */

$font-family-base: 'Open Sans', sans-serif;
$font-weight-base: 400;
$line-height-base: 1.5;

$headings-margin-bottom: ($spacer / 2);
$headings-font-family: 'Open Sans', sans-serif;
$headings-font-weight: 600;
$headings-line-height: 1.5;
$headings-color: theme-color('primary');

/* ----------------------------------------------------------- */

$html-font-sizes: (
  xs: 14px,
  sm: 14px,
  md: 16px,
  lg: 18px,
  xl: 18px
);

$h1-font-sizes: (
  xs: $font-size-base * 2.3,
  sm: $font-size-base * 2.3,
  md: $font-size-base * 2.1,
  lg: $font-size-base * 2,
  xl: $font-size-base * 2
);

$h2-font-sizes: (
  xs: $font-size-base * 1.5,
  sm: $font-size-base * 1.6,
  md: $font-size-base * 1.4,
  lg: $font-size-base * 1.7,
  xl: $font-size-base * 1.7
);

$h3-font-sizes: (
  xs: $font-size-base * 1.3,
  sm: $font-size-base * 1.4,
  md: $font-size-base * 1.2,
  lg: $font-size-base * 1.1,
  xl: $font-size-base * 1.1
);

$h4-font-sizes: (
  xs: $font-size-base * 1.2,
  sm: $font-size-base * 1.2,
  md: $font-size-base * 1.1,
  lg: $font-size-base * 1,
  xl: $font-size-base * 1
);

$h5-font-sizes: (
  xs: $font-size-base * 1.1,
  sm: $font-size-base * 1.1,
  md: $font-size-base * 1,
  lg: $font-size-base * 1,
  xl: $font-size-base * 1
);

$h6-font-sizes: (
  xs: $font-size-base,
  sm: $font-size-base,
  md: $font-size-base,
  lg: $font-size-base,
  xl: $font-size-base
);
